{% extends "blog/base.html" %}

{% block title %}Follower{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
<div class="col-md-8 m-auto">
    <div class="content-section">
        <h1 class="subtitle is-2">Follower</h1>
        <div class="follow-follower">
            <div class="block">
                <div class="content">
                    <ul class="menu-list" style="list-style-type: none;">
                        {% for follower in profile.follow_by.all %}
                        <a href="/profile/{{ follower.user.profile.pk }}" style="text-decoration: none; color: #524b4b;">
                            <li class="box"  style="margin-bottom: 20px;">
                                <img class="rounded-circle account-img" src="/user/media/{{ follower.user.profile.image }}" alt=""
                                    id="preview-img">

                                    <span style="font-size: 25px;font-weight: 600;"> {{ follower.user.username }}</span>

                            </li>
                        </a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}