{% extends 'blog/base.html' %}
{% block title %}Profile{% endblock %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
<link rel="stylesheet" href="{% static 'css/profile.css'%}">

<style>
    h2 {
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 10px;
    }
</style>
<div class="main" style="display: flex; width: 100%;">
    <div class="column">

        <div class="block" style="display: flex;align-items: center;">
            <img class="rounded-circle account-img" src="/user/media/{{ profile.image }}" alt="">

            <h1 class="title is-1" style="margin-bottom: 0px;">
                {{profile.user.username}}
            </h1>
            <p onclick="edit1()" id="edit_user" class="button is-danger is-active"
                style="margin-left: 30px;text-decoration: none;font-size: 13px; background-color: #FF5858;border-radius: 10px;">
                <ion-icon name="settings-outline" style="margin-right: 5px;"></ion-icon>Edit profile
            </p>

        </div>
        <form method="post" action="/follows/{{profile.pk}}">
            {% csrf_token %}
            <div class="buttons has-addons" id="container-btn">
                {% if profile in user.profile.following.all %}
                <button class="button is-success is-static">Follow</button>
                <button class="button is-danger" name="following" value="unfollow">
                    Unfollow
                </button>
                {% else %}
                <button class="button is-success" name="following" value="follow">
                    Follow
                </button>
                <button class="button is-danger is-static">Unfollow</button>
                {% endif %}
            </div>
        </form>
        <input type="hidden" value=" {{iduser}}" id="iduser">
        <input type="hidden" value=" {{idlink}}" id="idlink">
        <div class="modal" id="editprofile">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">

                    <p class="modal-card-title" style=""> {{profile.user.username}}</p>
                    <button class="delete" aria-label="close" onclick="closemodal()"></button>
                </header>

                <form id="editprofileform" action="" method="post" enctype="multipart/form-data"
                    style="overflow-y: scroll;">
                    {% csrf_token %}
                    <section class="modal-card-body">
                        <h2>First Name</h2>
                        <input class="input is-primary" type="text" name="first_name" maxlength="150" id="id_first_name"
                            placeholder="First Name" value="{{ profile.user.first_name }}">
                        <h2>Last Name</h2>
                        <input class="input is-link" type="text" name="last_name" maxlength="150" id="id_last_name"
                            placeholder="Last Name" value="{{ profile.user.last_name }}">
                        <h2>Email</h2>
                        <input class="input is-info" type="email" name="email" maxlength="254" id="id_email"
                            placeholder="Email" value="{{ profile.user.email }}">
                        <h2>Date Of Birth</h2>
                        <input class="input is-danger" type="date" name="date_of_birth"
                            value="{{ profile.date_of_birth }}">
                        <h2>Avatar</h2>
                        <img class="rounded-circle account-img" src="/user/media/{{ profile.image }}" alt=""
                            id="preview-img">
                        <input type="file" name="image" id="file">
                        <label for="file" class="btn-3">
                            <span id="upload">
                                <ion-icon name="cloud-upload-outline" style="margin-right: 5px;"></ion-icon> Select
                                picture
                            </span>
                        </label>
                    </section>
                    <footer class="modal-card-foot">
                        <button type="button" class="button is-success" onclick="checkform()">Save changes</button>
                        <span class="button" onclick="closemodal()"> Cancel</span>
                    </footer>
                </form>
            </div>
        </div>
        <div class="container" style="display: flex;">
            <div style="flex: 2;">
            </div>
        </div>
    </div>
</div>
<div class="post" id="post">
    {% for blog in blogs %}
    <div class="card">
        <div class="top">
            <div class="userDetails">
                <div class="profile_img">
                    <img class="cover" src="/user/media/{{blog.author.profile.image}}" alt="">
                </div>
                <div>
                    <h3>{{blog.author.username}}</h3>
                    <span class="postTime">{{ blog.date_posted }}</span>
                </div>
            </div>
            <div>
                <a href="{% url 'editpost' blog.id %}"><i style="color: black;" class="fa fa-cog"
                        aria-hidden="true"></i></a>
                <a style="margin-left: 10px;" href="{% url 'delete' blog.id %}" Onclick="return ConfirmDelete();"><i
                        style="color: black;" class="fa fa-trash" aria-hidden="true"></i>

                </a>
            </div>
        </div>
        <div class="imgBx">
            <img class="cover" src="/user/media/{{blog.post_image}}" alt="">
        </div>
        <div class="actionBtns">
            <div class="left">
                <div>
                    <i onclick="like('{{blog.pk}}')" class="bi bi-heart-fill" id="heart_{{blog.pk}}"></i>
                </div>
                <div style=" margin-top: -1.05px;">
                    <i class="bi bi-chat-fill chat"></i>
                </div>

            </div>
        </div>
        <h4 class="likes"><span id="likes_{{blog.pk}}">{{blog.total_likes}}</span> likes</h4>
        <h4 class="title">{{blog.title}}</h4>
        <h5 class="message">{{blog.content}}</h5>
        <h4 class="comment">View all 20 comments</h4>
        <div class="addComment">
            <div class="userImg">
                <img class="cover" src="/user/media/{{blog.post_image}}" alt="">
            </div>
            <input type="text" class="text" placeholder="Add a comment...">
        </div>

    </div>
    {% endfor %}
</div>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script>

    var iduser = document.getElementById("iduser").value
    var idlink = document.getElementById("idlink").value
    var container_btn = document.getElementById("container-btn")
    if (iduser == idlink) {
        container_btn.style.display = "none"
    }
    if (iduser != idlink) {
        document.getElementById("edit_user").style.display = "none"
        document.getElementById("post").style.display = "none"
    }

    function checkform() {
        var first_name = document.getElementById("id_first_name").value
        var last_name = document.getElementById("id_last_name").value
        var email = document.getElementById("id_email").value

        if (!first_name || !last_name || !email)
            alert("First name, last name, email cannot be left blank")
        else
            document.getElementById("editprofileform").submit()
    }

    function edit1() {
        var editprofile = document.getElementById("editprofile")
        editprofile.style.display = "flex"
        editprofile.style.justifyContent = "center"
        editprofile.style.alignItems = "center"

    }

    function closemodal() {
        var editprofile = document.getElementById("editprofile")
        editprofile.style.display = "none"
    }
</script>
<script>
    const reader = new FileReader();
    const fileInput = document.getElementById("file");
    const img = document.getElementById("preview-img");
    reader.onload = e => {
        img.src = e.target.result;
    }
    fileInput.addEventListener('change', e => {
        const f = e.target.files[0];
        reader.readAsDataURL(f);
    })
</script>
<script>
    function ConfirmDelete()
    {
      var x = confirm("Are you sure you want to delete? ");
    
      if (x)
          return true;
      else
        return false;
    }
  </script>
{% endblock content %}